<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text = "${ titre }">Titre</title>
	<link rel = "stylesheet" type = "text/css" th:href = "@{/css/style.css}"/>
</head>

<body>
	<h1 th:text = "#{ titre.client.add }"></h1>
	
		<a th:href = "@{/}" th:text = "#{ bouton.retour }">Retour</a>
		<hr />
	
	<form th:action="@{/client/add}"  th:object = "${clientForm}" method="post">
		<p th:text = "#{ client.prenom }">Prenom:</p> 
		<input type = "text" th:field= "*{prenom}" />
		</br>
		</br>
		<p th:text = "#{ client.nom }">Nom:</p>
		<input type = "text" th:field ="*{nom}" />
		<br/>
		<br/>
		<input type = "submit" value = "Ajouter" />
		</form>
		
		
</body>
</html>