<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text = "${ titre }">Titre</title>
	<link rel = "stylesheet" type = "text/css" th:href = "@{/css/style.css}"/>
</head>

<body>
	<h1 th:text = "${Titre}"></h1>
	<br/>
	<a th:href = "@{/client/add}">Ajout</a> &nbsp;&nbsp; - &nbsp;&nbsp; <a th:href = "@{/}">Retour </a>
	<hr/>
	
<table>
	<thead>
		<tr>
			<th>Nom &nbsp;&nbsp;</th>
			<th>Prénom &nbsp;&nbsp;</th>
			<th>Supprimer &nbsp;&nbsp;</th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each = "client : ${ clients }">
		
			<td th:text = "${ client.nom }">  </td>
			<td th:text = "${ client.prenom }"> </td>
			<td> <a th:href = "@{/client/delete/{id}(id=${client.id})}">Supprimer</a> </td>
			
			
		</tr>
	</tbody>
	
</table>

</body>
</html>
	