<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: taghead"></head>

<body>
	<h1 th:text = "#{titre.emprunt.add}"></h1>
	<a th:href = "@{/}" th:text = "#{ bouton.retour }">Retour</a>
	<hr/>
	
	<form th:action="@{/emprunt/add}"  th:object = "${empruntForm}" method="post">
		<th th:text = "#{ emprunt.datedebut }">Date de début d'emprunt &nbsp;&nbsp;</th>
		<input type = "text" th:field= "*{datedebut}" />
		<br />
		<br />
		<th th:text = "#{ emprunt.datefin }">Date de fin d'emprunt &nbsp;&nbsp;</th>
		<input type = "text" th:field ="*{datefin}" />
		<br/>
		<br/>
		<th th:text = "#{ emprunt.delai }">Délai &nbsp;&nbsp;</th>	
		<input type = "text" th:field ="*{delai}" />
		<br/>
		<br/>
		<th th:text = "#{ emprunt.select.client }">&nbsp;&nbsp;</th>	
		<select th:field="*{clientE}"> 
		<option th:each="client : ${listeClients}" th:text=${client.nom} th:value="${client.id}"/>
        </select>
        <br/>
        <br/>
        <th th:text = "#{ emprunt.choisir.livres }">&nbsp;&nbsp;</th>
        <select th:field="*{livresE}" multiple> 
        <option th:each="livre : ${listeLivres}" th:text=${livre.titre} th:value="${livre.id}"/>
        </select>    
        <br/>
        <br/>
        <input type="submit" value="Create" />
		</form>
		<br/>
		<br/>
		
		
</body>
</html>