<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text = "${ titre }">Titre</title>
	<link rel = "stylesheet" type = "text/css" th:href = "@{/css/style.css}"/>
</head>

<body>
	<h1 th:text = "${Titre}"></h1>
	<br/>
	<a th:href = "@{/emprunt/add}" th:text = "#{ bouton.ajouter }">Ajout</a>
	&nbsp;&nbsp; -&nbsp;&nbsp; <a th:href = "@{/}" th:text = "#{ bouton.retour }">Retour</a>
	<hr/>
	
<table>
	<thead>
		<tr>
			<th>ID &nbsp;&nbsp;</th>
			<th th:text = "#{ emprunt.datedebut }">Date de début d'emprunt &nbsp;&nbsp;</th>
			<th th:text = "#{ emprunt.datefin }">Date de fin d'emprunt &nbsp;&nbsp;</th>
			<th th:text = "#{ emprunt.delai }">Délai &nbsp;&nbsp;</th>	
			<th th:text = "#{ emprunt.client }">Client &nbsp;&nbsp;</th>	
			<th th:text = "#{ emprunt.livres.empruntes }">Livres empruntés &nbsp;&nbsp;</th>
			<th th:text = "#{ emprunt.supprimer }">Supprimer &nbsp;&nbsp;</th>	
			<th th:text = "#{ emprunt.modifier }">Modifier &nbsp;&nbsp;</th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each = "emprunt : ${ emprunts }">
		
			<td th:text = "${ emprunt.id }"> </td>
			<td th:text = "${ emprunt.datedebut }"> </td>
			<td th:text = "${ emprunt.datefin }"> </td>
			<td th:text = "${ emprunt.delai }"> </td>
			<td th:text = "${ emprunt.clientE }"> </td>
			<!-- <td th:text = "${ emprunt.livresE }"> </td> --> 
			<td>
				<ul>
					<li th:each="livre : ${ er.findLivreByEmprunt(emprunt)}" th:text="${livre.titre}"></li>	
				</ul>
			</td>
			<td> <a th:href = "@{/emprunt/delete/{id}(id=${emprunt.id})}">Supprimer</a> </td>
			<td> <a th:href = "@{/emprunt/update/{id} (id=${emprunt.id})}">Modifier</a> </td>
			
		</tr>
	</tbody>
	
</table>
<br/>
<br/>
<br/>

</body>