<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: taghead"></head>

<body>
	<h1 th:text = "#{ titre.client.add }"></h1>
	<a th:href = "@{/}" th:text = "#{ bouton.retour }">Retour</a>
		
	<hr/>
	
	<form th:action="@{/livre/add}"  th:object = "${livreForm}" method="post">
		<p th:text = "#{ livre.titre }">Titre:</p>
		<input type = "text" th:field= "*{titre}" />
		<br />
		<br />
		<p th:text = "#{ livre.auteur }"></p>
		<input type = "text" th:field ="*{auteur}" />
		<br/>
		<br/>
		<input type = "submit" value = "Ajouter" />
		</form>
		<br/>
		<br/>
		
</body>
</html>